body {
  margin: 0;
  background-color: #e7e7e7;
}

.top_header {
  background-color: #222326;
  height: 45px;
  border-bottom: 1px solid #414346;
}

.navbar-default {
  background: none;
  border: 0;
}

.navbar-nav li a {
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #cccccc;
}

.main_header {
  height: 235px;
  background-color: #2d3034;
}

.logo {
  height: 135px;
}

.logo img {
  height: 100px;
  width: auto;
  margin-top: 15px;
}

.main_nav_border {
  border-top: 2px solid #27292d;
  border-right: 2px solid #27292d;
  border-left: 2px solid #27292d;
}

.main_nav {
  height: 45px;
  border-top: 1px solid #36393c;
}

.main_nav .nav > li > a:focus,
.main_nav .nav > li > a:hover {
  background: #393e45;
}

.main_nav .navbar-nav li a {
  color: #bebfc1;
}

.search_area {
  float: right;
  margin-top: 5px;
  margin-right: 15px;
}

.search_input {
  background-color: #282b2f;
  border: 0;
  height: 32px;
  font-size: 11px;
  width: 140px;
  padding: 10px;
}

.serach_submit {
  background-color: #3e4145;
  border: 0;
  height: 32px;
  color: #fff;
  font-size: 11px;
}

.main_info {
  background-color: #ffff;
  height: 53px;
}

.socialarea {
  background-color: #3382b5;
  height: 100%;
  color: #c2dae9;
}

.socilatxt {
  line-height: 53px;
  float: left;
}

.socialicons {
  float: right;
  height: 20px;
  margin-top: 16px;
}

.socialicons img {
  height: 20px;
}

.socialicons a {
  text-decoration: none;
}
.main_info .row {
  height: 100%;
  margin: 0;
}

.randompost {
  line-height: 53px;
  color: #999999;
}

.randompost a {
  color: #999999;
  margin-left: 30px;
  text-decoration: none;
}

section .row {
  margin: 0;
}

.sidebar {
  background-color: #eee;
}

.sidebar .widget {
  border-bottom: 2px solid #e4e4e4;
}
.sidebar .widget .tagcloud {
  padding-bottom: 20px;
}
/*.sidebar .widget .tagcloud a {
  background-color: #94c345;
  color: #fff;
  padding: 5px;
  margin: 5px;
}*/

.maincontent {
  background-color: #fff;
}

footer {
  margin-top: 55px;
}

.footer_widgets {
  background-color: #ffffff;
  padding: 20px;
}

.footer_widgets .row {
  display: flex;
}

.footer_widgets .widget {
  width: 100%;
}

.mainfooter {
  height: 55px;
  background-color: #2d3034;
  color: #ffffff;
}

.mainfooter_left {
  float: left;
  line-height: 55px;
  margin-left: 20px;
}

.mainfooter_right {
  float: right;
  line-height: 55px;
  margin-right: 20px;
}

.mainfooter_scroll {
  position: absolute;
  background-color: #e7e7e7;
  width: 55px;
  height: 30px;
  left: 50%;
  margin-left: -27px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.mainfooter_scroll img {
  height: 20px;
}
